<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
    <script src="bower_components/cpf_cnpj/build/cpf.js"></script>
    <script src="bower_components/cpf_cnpj/build/cnpj.js"></script>
    <script src="bower_components/ng-cpf-cnpj/lib/ngCpfCnpj.js"></script>
    <script type="text/javascript" src="JavaScript/JS-TelaInicial.js"></script>
    <link rel="icon" href="Imagem/HeaderLogo.png" type="image/icon type">
    <link rel="stylesheet" href="CSS/CSS-TelaInicial.css" Type="text/css">
    <link rel="stylesheet" href="CSS/CSS-TelaCadastro.css" Type="text/css">
    <link rel="stylesheet" href="CSS/CSS-TelaContinuaCadastro.css" Type="text/css">
    <link rel="stylesheet" href="CSS/CSS-PopUp.css" Type="text/css">

    <title>PlusFriends</title>

    <script>
        window.onload = function () {
            setTimeout(function(){
                document.getElementById('imgFundo3').style.opacity = "100%";
            },300);
            setTimeout(function(){
                document.getElementById('imgFundo2').style.opacity = "100%";
            },600);
            setTimeout(function(){
                document.getElementById('imgFundo1').style.opacity = "100%";
            },900);
        }
    </script>

    <script>
        var app = angular.module('PlusFriends',[ngAnimate]);
    </script>

    <script>
        angular.module('PlusFriends',[ngCpfCnpj]);

    </script>

    <script>
        var app = angular.module('PlusFriends',[]);

        app.controller('meuCtrlInicial', function($scope) {
            //usuário admin login
            $scope.nom_usuario_admin = "admin";
            $scope.senha_admin = "admin123";
            $scope.cod_perfil = 1;
            $scope.email = null;
            $scope.usuario = null;
            $scope.senha = null;
            $scope.nome_usuario = null;


          $scope.NGM_UsuarioEmail= "Usuário/ E-mail";
          $scope.NGM_Senha= "*******";
          $scope.NGM_UsuarioNovoCadastro= "Usuário";
          $scope.NGM_EmailNovoCadastro= "E-mail";
          $scope.NGM_SenhaNovoCadastro= "*******";
          $scope.NGM_ConfirmSenhaNovoCadastro= "*******";
          $scope.NGM_NomeNovoCadastro= "Nome";
          $scope.NGM_SobrenomeNovoCadastro= "Sobrenome";
          $scope.NGM_CPFNovoCadastro= "xxx.xxx.xxx-xx";


          //focus
          $scope.NGFfocusUsuarioEmail = function(){
            if($scope.NGM_UsuarioEmail == 'Usuário/ E-mail') 
                $scope.NGM_UsuarioEmail = "";
             }

          $scope.NGFfocusSenhaLogin = function(){
            if($scope.NGM_Senha == '*******') 
                $scope.NGM_Senha = "";
          }

          $scope.NGFfocusUsuarioNovoCadastro = function(){
              if($scope.NGM_UsuarioNovoCadastro == "Usuário")
                $scope.NGM_UsuarioNovoCadastro = "";
          }

          $scope.NGFfocusEmailNovoCadastro = function(){
              if($scope.NGM_EmailNovoCadastro == "E-mail")
                $scope.NGM_EmailNovoCadastro = "";
          }

          $scope.NGFfocusSenhaCadastro = function(){
              if($scope.NGM_SenhaNovoCadastro == "*******")
                $scope.NGM_SenhaNovoCadastro = "";
          }

          $scope.NGFfocusConfirmSenhaCadastro = function(){
              if($scope.NGM_ConfirmSenhaNovoCadastro == "*******")
                $scope.NGM_ConfirmSenhaNovoCadastro = "";
          }
          $scope.NGFnomeNovoCadastro = function(){
            if($scope.NGM_NomeNovoCadastro == 'Nome') 
                $scope.NGM_NomeNovoCadastro = "";
          }

          $scope.NGFsobrenomeNovoCadastro = function(){
            if($scope.NGM_SobrenomeNovoCadastro == 'Sobrenome') 
                $scope.NGM_SobrenomeNovoCadastro = "";
          }

          $scope.NGFCPFNovoCadastro = function(){
            if($scope.NGM_CPFNovoCadastro == 'xxx.xxx.xxx-xx') 
                $scope.NGM_CPFNovoCadastro = "";
          }

          //blur
          $scope.NGBblurUsuarioEmail = function(){
            if($scope.NGM_UsuarioEmail == '') 
                $scope.NGM_UsuarioEmail = "Usuário/ E-mail";
             }

          $scope.NGBblurSenhaLogin = function(){
            if($scope.NGM_Senha == '') 
                $scope.NGM_Senha = "*******";
          }

          $scope.NGBblurUsuarioNovoCadastro = function(){
              if($scope.NGM_UsuarioNovoCadastro == "")
                $scope.NGM_UsuarioNovoCadastro = "Usuário"
          }

          $scope.NGBblurEmailNovoCadastro = function(){
              if($scope.NGM_EmailNovoCadastro == "")
                $scope.NGM_EmailNovoCadastro = "E-mail";
          }

          $scope.NGBblurSenhaCadastro = function(){
              if($scope.NGM_SenhaNovoCadastro == "")
                $scope.NGM_SenhaNovoCadastro = "*******"
          }

          $scope.NGBblurConfirmSenhaCadastro = function(){
              if($scope.NGM_ConfirmSenhaNovoCadastro == "")
                $scope.NGM_ConfirmSenhaNovoCadastro = "*******";
          }

          $scope.NGBnomeNovoCadastro = function(){
            if($scope.NGM_NomeNovoCadastro == "") 
                $scope.NGM_NomeNovoCadastro = 'Nome';
          }

          $scope.NGBsobrenomeNovoCadastro = function(){
            if($scope.NGM_SobrenomeNovoCadastro == "") 
                $scope.NGM_SobrenomeNovoCadastro = 'Sobrenome';
          }

          $scope.NGBCPFNovoCadastro = function(){
            if($scope.NGM_CPFNovoCadastro == "") 
                $scope.NGM_CPFNovoCadastro = 'xxx.xxx.xxx-xx';
          }

         
          $scope.NGBblurValidApNum = function(){
              if(isNaN($scope.NGM_IdadeNovoCadastro))
                 $scope.NGM_IdadeNovoCadastro = null;
              if($scope.NGM_IdadeNovoCadastro > 99 || $scope.NGM_IdadeNovoCadastro < 16)
                $scope.NGM_IdadeNovoCadastro = null;
          }


          //*********MouseEnter*********//

            //*Seta Para Baixo*//
            /*
          $scope.NGFfocusDivBtDivInferior = function(){
            document.getElementById('divImgDivBtDivInferior2').style.top = "-1.5%";
            document.getElementById('divImgDivBtDivInferior2').style.left = "60%";
            document.getElementById('divImgDivBtDivInferior2').style.height = "29%";
            document.getElementById('divImgDivBtDivInferior2').style.width = "0%";
            document.getElementById('divImgDivBtDivInferior2').style.transform = "skew(-40deg)";
            document.getElementById('divImgDivBtDivInferior1').style.top = "36%";
            document.getElementById('divImgDivBtDivInferior1').style.left = "30%";
            document.getElementById('divImgDivBtDivInferior1').style.height = "30%";
            document.getElementById('divImgDivBtDivInferior1').style.width = "0%";
            document.getElementById('divImgDivBtDivInferior1').style.transform = "skew(40deg)";
        }
            */

            $scope.NGFfocusPopUpTxPlus = function(){
            document.getElementById('lupaPt1').style.opacity = "0%";
            document.getElementById('lupaPt1').style.filter = "blur(10px)";
            document.getElementById('lupaPt2').style.opacity = "0%";
            document.getElementById('lupaPt2').style.filter = "blur(10px)";
            document.getElementById('txFacaAmigos').style.opacity = "100%";
            }

            $scope.NGFfocusPopUpTxPlus2 = function(){
            document.getElementById('lupa2Pt1').style.opacity = "0%";
            document.getElementById('lupa2Pt1').style.filter = "blur(10px)";
            document.getElementById('lupa2Pt2').style.opacity = "0%";
            document.getElementById('lupa2Pt2').style.filter = "blur(10px)";
            document.getElementById('txDescubraLugares').style.opacity = "100%";
            }

            /*Seta para cima*/
            $scope.NGFfocusDivBtDivInferior = function(){
            document.getElementById('divImgDivBtDivInferior2').style.top = "-10%";
            document.getElementById('divImgDivBtDivInferior2').style.left = "60%";
            document.getElementById('divImgDivBtDivInferior2').style.height = "29%";
            document.getElementById('divImgDivBtDivInferior2').style.width = "0%";
            document.getElementById('divImgDivBtDivInferior2').style.transform = "skew(40deg)";
            document.getElementById('divImgDivBtDivInferior1').style.top = "30%";
            document.getElementById('divImgDivBtDivInferior1').style.left = "30%";
            document.getElementById('divImgDivBtDivInferior1').style.height = "30%";
            document.getElementById('divImgDivBtDivInferior1').style.width = "0%";
            document.getElementById('divImgDivBtDivInferior1').style.transform = "skew(-40deg)";
           }

            //*********MouseLeave*********//
            $scope.NGLdivBtDivInferior = function(){
            document.getElementById('divImgDivBtDivInferior2').style.top = "8%";
            document.getElementById('divImgDivBtDivInferior2').style.left = "45%";
            document.getElementById('divImgDivBtDivInferior2').style.height = "50%";
            document.getElementById('divImgDivBtDivInferior2').style.width = "0%";
            document.getElementById('divImgDivBtDivInferior2').style.transform = "skew(0deg)";
            document.getElementById('divImgDivBtDivInferior1').style.top = "47%";
            document.getElementById('divImgDivBtDivInferior1').style.left = "18%";
            document.getElementById('divImgDivBtDivInferior1').style.height = "0%";
            document.getElementById('divImgDivBtDivInferior1').style.width = "50%";
            document.getElementById('divImgDivBtDivInferior1').style.transform = "skew(0deg)";
        }

            $scope.NGLPopUpTxPlus = function(){
            document.getElementById('lupaPt1').style.opacity = "100%";
            document.getElementById('lupaPt1').style.filter = "blur(0px)";
            document.getElementById('lupaPt2').style.opacity = "100%";
            document.getElementById('lupaPt2').style.filter = "blur(0px)";
            document.getElementById('txFacaAmigos').style.opacity = "0%";
            }

            
            $scope.NGLPopUpTxPlus2 = function(){
            document.getElementById('lupa2Pt1').style.opacity = "100%";
            document.getElementById('lupa2Pt1').style.filter = "blur(0px)";
            document.getElementById('lupa2Pt2').style.opacity = "100%";
            document.getElementById('lupa2Pt2').style.filter = "blur(0px)";
            document.getElementById('txDescubraLugares').style.opacity = "0%";
            }

          //*********Click*********//


        //Home Div Inferior
        $scope.NGChomeDivInferior = function(){
            document.getElementById('divInferiorTelaLogin').style.top = "95%"
                document.getElementById('imgFundo1').style.filter = "blur(0px)"
                document.getElementById('divBtDivInferior').style.top = "-1.3%"                
                setTimeout(function(){
                document.getElementById('divFundoParte1').style.left = "-10%"
                document.getElementById('divFundoParte1').style.opacity = "0%"
                document.getElementById('txDivImgDivBtDivInferior1').style.opacity = "100%"
                document.getElementById('txDivImgDivBtDivInferior1').style.left = "125%"
                document.getElementById('btDivImgDivBtDivInferior1').style.opacity = "100%"
                document.getElementById('btDivImgDivBtDivInferior1').style.left = "90%"
                document.getElementById('btHomeDivImgDivBtDivInferior1').style.opacity = "100%"
                document.getElementById('btHomeDivImgDivBtDivInferior1').style.left = "88%"
            },50);
        }

        //Avançar Div Inferior
        $scope.NGCbtDivInferiorAvancar = function(){
            if(document.getElementById('divInferiorTelaLogin').style.top == "0%"){
                document.getElementById('divInferiorTelaLogin').style.top = "-100%"
                document.getElementById('divFundoParte2').style.opacity = "100%"
                document.getElementById('divFundoParte2').style.left = "0%"
                setTimeout(function(){
                document.getElementById('img1BtDivImgDivBtDivInferior1').style.backgroundColor = "white"
                document.getElementById('img1BtDivImgDivBtDivInferior2').style.backgroundColor = "white"
                document.getElementById('img1BtDivImgDivBtDivInferior3').style.backgroundColor = "white"
                document.getElementById('btHomeDivImgDivBtDivInferior1').style.webkitTransitionDelay = "0s"
                document.getElementById('btHomeDivImgDivBtDivInferior1').style.transitionDelay = "0s"
                document.getElementById('btHomeDivImgDivBtDivInferior1').style.backgroundImage = "url('./Imagem/LogoHomeBranco.png')"
                },1000);
                document.getElementById('btHomeDivImgDivBtDivInferior1').style.webkitTransitionDelay = "3s"
                document.getElementById('btHomeDivImgDivBtDivInferior1').style.transitionDelay = "3s"
                document.getElementById('txDivImgDivBtDivInferior2').style.opacity = "100%"
                document.getElementById('txDivImgDivBtDivInferior2').style.left = "27.5%"
            }else if(document.getElementById('divInferiorTelaLogin').style.top == "-100%"){
                document.getElementById('divInferiorTelaLogin').style.top = "-200%"
                document.getElementById('divFundoParte3').style.opacity = "100%"
                document.getElementById('divFundoParte3').style.left = "0%"
                setTimeout(function(){
                document.getElementById('img1BtDivImgDivBtDivInferior1').style.backgroundColor = "black"
                document.getElementById('img1BtDivImgDivBtDivInferior2').style.backgroundColor = "black"
                document.getElementById('img1BtDivImgDivBtDivInferior3').style.backgroundColor = "black"
                document.getElementById('btHomeDivImgDivBtDivInferior1').style.webkitTransitionDelay = "0s"
                document.getElementById('btHomeDivImgDivBtDivInferior1').style.transitionDelay = "0s"
                document.getElementById('btHomeDivImgDivBtDivInferior1').style.backgroundImage = "url('./Imagem/LogoHome.png')"
                },1000);
                document.getElementById('btHomeDivImgDivBtDivInferior1').style.webkitTransitionDelay = "3s"
                document.getElementById('btHomeDivImgDivBtDivInferior1').style.transitionDelay = "3s"

            }else if(document.getElementById('divInferiorTelaLogin').style.top == "-200%"){
                if(($scope.NGM_UsuarioNovoCadastro == null || $scope.NGM_UsuarioNovoCadastro == "Usuário")){                   
                    document.getElementById('popUp').style.opacity = "100%";
                    document.getElementById('popUp').style.top = "8%";
                    $scope.txtMsgPopUp = "Preencha o nome de usuário";
                }
                else if(($scope.NGM_EmailNovoCadastro == null || $scope.NGM_EmailNovoCadastro == "E-mail")){                   
                    document.getElementById('popUp').style.opacity = "100%";
                    document.getElementById('popUp').style.top = "8%";
                    $scope.txtMsgPopUp = "Preencha o e-mail";
                }
                else if(!($scope.NGM_SenhaNovoCadastro == $scope.NGM_ConfirmSenhaNovoCadastro)){
                    document.getElementById('popUp').style.opacity = "100%";
                    document.getElementById('popUp').style.top = "8%";
                    $scope.txtMsgPopUp = "As senhas precisam ser iguais e possuirem mais que 8 dígitos.";
                }
                else if(($scope.NGM_IdadeNovoCadastro < 16 && $scope.NGM_IdadeNovoCadastro > 99) || $scope.NGM_IdadeNovoCadastro == null){
                    document.getElementById('popUp').style.opacity = "100%";
                    document.getElementById('popUp').style.top = "8%";
                    $scope.txtMsgPopUp = "Preencha uma idade válida entre 16 e 99 anos.";
                }
                else if($scope.NGM_SexoNovoCadastro == ""){
                    document.getElementById('popUp').style.opacity = "100%";
                    document.getElementById('popUp').style.top = "8%";
                    $scope.txtMsgPopUp = "Digite seu sexo.";
                }else{

                    document.getElementById('divInferiorTelaLogin').style.top = "-300%"
                    document.getElementById('divFundoParte4').style.opacity = "100%"
                    document.getElementById('divFundoParte4').style.left = "0%"
                    setTimeout(function(){
                    document.getElementById('img1BtDivImgDivBtDivInferior1').style.backgroundColor = "white"
                    document.getElementById('img1BtDivImgDivBtDivInferior2').style.backgroundColor = "white"
                    document.getElementById('img1BtDivImgDivBtDivInferior3').style.opacity = "0%"
                    document.getElementById('img1BtDivImgDivBtDivInferior2').style.transform = "skew(0deg)"
                    document.getElementById('img1BtDivImgDivBtDivInferior2').style.width = "60%"
                    document.getElementById('img1BtDivImgDivBtDivInferior2').style.height = "13%"
                    document.getElementById('img1BtDivImgDivBtDivInferior2').style.left = "25%"
                    document.getElementById('img1BtDivImgDivBtDivInferior2').style.top = "-50%"
                    document.getElementById('img1BtDivImgDivBtDivInferior2').style.transform = "skew(0deg)"


                    document.getElementById('btHomeDivImgDivBtDivInferior1').style.webkitTransitionDelay = "0s"
                    document.getElementById('btHomeDivImgDivBtDivInferior1').style.transitionDelay = "0s"
                    document.getElementById('btHomeDivImgDivBtDivInferior1').style.backgroundImage = "url('./Imagem/LogoHomeBranco.png')"
                    },1000);
                    document.getElementById('btHomeDivImgDivBtDivInferior1').style.webkitTransitionDelay = "3s"
                    document.getElementById('btHomeDivImgDivBtDivInferior1').style.transitionDelay = "3s"

                }         
                //Cadastro Concluido   
            }else if(document.getElementById('divInferiorTelaLogin').style.top == "-300%"){

                if(($scope.NGM_NomeNovoCadastro == null || $scope.NGM_NomeNovoCadastro == "Nome")){                   
                    document.getElementById('popUp').style.opacity = "100%";
                    document.getElementById('popUp').style.top = "8%";
                    $scope.txtMsgPopUp = "Preencha o seu Nome.";
                }
                else if(($scope.NGM_SobrenomeNovoCadastro == null || $scope.NGM_SobrenomeNovoCadastro == "Sobrenome")){                   
                    document.getElementById('popUp').style.opacity = "100%";
                    document.getElementById('popUp').style.top = "8%";
                    $scope.txtMsgPopUp = "Preencha o seu Sobrenome.";
                }
                else if(($scope.NGM_CPFNovoCadastro == null || $scope.NGM_CPFNovoCadastro == "xxx.xxx.xxx-xx")){
                    document.getElementById('popUp').style.opacity = "100%";
                    document.getElementById('popUp').style.top = "8%";
                    $scope.txtMsgPopUp = "Preencha o seu CPF.";
                }
                else{
                    document.getElementById('imgFundo1').style.filter = "blur(0px)";
                    document.getElementById('imgFundo2').style.filter = "blur(0px)";
                    document.getElementById('imgFundo3').style.filter = "blur(0px)";

                    document.getElementById('popUp').style.opacity = "100%";
                    document.getElementById('popUp').style.top = "8%";
                    $scope.txtMsgPopUp = "Cadastro Realizado com Sucesso!";


                    $scope.usuario = $scope.NGM_UsuarioNovoCadastro;
                    $scope.email = $scope.NGM_EmailNovoCadastro;
                    $scope.senha = $scope.NGM_SenhaNovoCadastro;


                    $scope.NGM_UsuarioEmail= "Usuário/ E-mail";
                    $scope.NGM_Senha= "*******";
                    $scope.NGM_UsuarioNovoCadastro= "Usuário";
                    $scope.NGM_EmailNovoCadastro= "E-mail";
                    $scope.NGM_SenhaNovoCadastro= "*******";
                    $scope.NGM_ConfirmSenhaNovoCadastro= "*******";
                    $scope.NGM_NomeNovoCadastro= "Nome";
                    $scope.NGM_SobrenomeNovoCadastro= "Sobrenome";
                    $scope.NGM_CPFNovoCadastro= "xxx.xxx.xxx-xx";

                    document.getElementById('divInferiorTelaLogin').style.top = "95%"
                    document.getElementById('imgFundo1').style.filter = "blur(0px)"
                    document.getElementById('divBtDivInferior').style.top = "-1.3%"                
                    setTimeout(function(){
                    document.getElementById('divFundoParte1').style.left = "-10%"
                    document.getElementById('divFundoParte1').style.opacity = "0%"
                    document.getElementById('txDivImgDivBtDivInferior1').style.opacity = "100%"
                    document.getElementById('txDivImgDivBtDivInferior1').style.left = "125%"
                    document.getElementById('btDivImgDivBtDivInferior1').style.opacity = "100%"
                    document.getElementById('btDivImgDivBtDivInferior1').style.left = "90%"
                    document.getElementById('btHomeDivImgDivBtDivInferior1').style.opacity = "100%"
                    document.getElementById('btHomeDivImgDivBtDivInferior1').style.left = "88%"
                    },50);
                }

            }

        }


          //Novo Cadastro
        $scope.NGCcadastroNovo = function(){
                    document.getElementById('txMais').style.transition = "all linear 1s";
                    document.getElementById('popUpTxPlus').style.transition = "all linear 1s";
                    document.getElementById('txFriends').style.transition = "all linear 1s";                    
                    document.getElementById('imgFundo1').style.filter = "blur(5px)";
                    document.getElementById('imgFundo2').style.filter = "blur(5px)";
                    document.getElementById('imgFundo3').style.filter = "blur(5px)";
                    document.getElementById('txMais').style.left = "-21%";
                    document.getElementById('popUpTxPlus').style.left = "-30%";
                    document.getElementById('txFriends').style.left = "-48%";
                    document.getElementById('tbSenha').style.left = "-20%";
                    document.getElementById('tbUsuarioEmail').style.left = "-20%";

                    document.getElementById('divBtsLogin').style.left = "-30%";
                    document.getElementById('divBtsLogin').style.opacity = "-100%";

                document.getElementById('divCadastro').style.left = "30%";
 
                document.getElementById('imgFundo1').style.filter = "blur(5px)";
                document.getElementById('imgFundo2').style.filter = "blur(5px)";
                document.getElementById('imgFundo3').style.filter = "blur(5px)";
          }

           //Voltar Cadastro
           $scope.NGCvoltarCadastro = function(){
                document.getElementById('txMais').style.transition = "all linear 0.5s";
                document.getElementById('txPlus').style.transition = "all linear 0.5s";
                document.getElementById('txFriends').style.transition = "all linear 0.4s";                    
                document.getElementById('imgFundo1').style.filter = "blur(0px)";
                document.getElementById('imgFundo2').style.filter = "blur(0px)";
                document.getElementById('imgFundo3').style.filter = "blur(0px)";
                document.getElementById('txMais').style.left = "21%";
                document.getElementById('txPlus').style.left = "30%";
                document.getElementById('txFriends').style.left = "48%";
                document.getElementById('tbSenha').style.left = "20%";
                document.getElementById('tbUsuarioEmail').style.left = "20%";

                document.getElementById('divBtsLogin').style.left = "30%";
                document.getElementById('divBtsLogin').style.opacity = "100%";

                document.getElementById('divCadastro').style.left = "100%";           
            }

            //Voltar Continuação Cadastro
           $scope.NGCvoltarCadastro2 = function(){

                document.getElementById('divCadastro').style.left = "30%";  
                document.getElementById('divCadastro').style.opacity = "100%";  


                document.getElementById('divContinuaCadastro').style.left = "200%";  
                document.getElementById('divContinuaCadastro').style.opacity = "0%";  



            }

           //Fechar Pop Up
           $scope.NGCbtFecharPopUp = function(){
            document.getElementById('popUp').style.opacity = "0%";
            document.getElementById('popUp').style.top = "-5%";
           }

          //Logar
          $scope.NGClogar = function(){
              if((!($scope.NGM_UsuarioEmail == $scope.usuario) && !($scope.NGM_UsuarioEmail == $scope.email) && !($scope.NGM_UsuarioEmail == $scope.nom_usuario_admin))){
                document.getElementById('popUp').style.opacity = "100%";
                document.getElementById('popUp').style.top = "8%";
                $scope.txtMsgPopUp = "Usuário ou E-mail não cadastrado.";
              }
              else if(!($scope.NGM_Senha == $scope.senha)  && !($scope.NGM_UsuarioEmail == $scope.nom_usuario_admin && $scope.NGM_Senha == $scope.senha_admin)){
                document.getElementById('popUp').style.opacity = "100%";
                document.getElementById('popUp').style.top = "8%";
                $scope.txtMsgPopUp = "Usuário, E-mail e/ou Senha não cadastrada.";
              }
              else{
                window.location.href = "HTML/PaginaPrincipal.html";
              }

          }
            //AbrirMenulateral
            $scope.NGCbtMenuLateral = function(){
                document.getElementById('fundoEscudoMenuLateral').style.visibility = 'visible';
                document.getElementById('divMenuLateral').style.left = '0%';
                document.getElementById('divMenuLateral').style.opacity = '100%'; 
                document.getElementById('btMenuLateralFechar').style.left = '26%';
                document.getElementById('img1BtMenuLateralFechar').style.left = "26.6%";
                document.getElementById('img2BtMenuLateralFechar').style.left = "26.6%";
                document.getElementById('img3BtMenuLateralFechar').style.left = "26.6%";
                document.getElementById('btMenuLateralFechar').style.opacity = '100%'; 
                document.getElementById('img1BtMenuLateralFechar').style.opacity = '100%'; 
                document.getElementById('img2BtMenuLateralFechar').style.opacity = '100%'; 
                document.getElementById('img3BtMenuLateralFechar').style.opacity = '100%'; 
            }

            //FecharMenulateral
            $scope.NGCbtMenuLateralFechar = function(){
                document.getElementById('fundoEscudoMenuLateral').style.visibility = 'hidden';
                document.getElementById('btMenuLateralFechar').style.webkitTransitionDelay = '0s';
                document.getElementById('img1BtMenuLateralFechar').style.webkitTransitionDelay = '0s';
                document.getElementById('img2BtMenuLateralFechar').style.webkitTransitionDelay = '0s';
                document.getElementById('img3BtMenuLateralFechar').style.webkitTransitionDelay = '0s';
                document.getElementById('btMenuLateralFechar').style.transitionDelay = '0s';
                document.getElementById('img1BtMenuLateralFechar').style.transitionDelay = '0s';
                document.getElementById('img2BtMenuLateralFechar').style.transitionDelay = '0s';
                document.getElementById('img3BtMenuLateralFechar').style.transitionDelay = '0s';
                document.getElementById('btMenuLateralFechar').style.left = '-111%';
                document.getElementById('img1BtMenuLateralFechar').style.left = '-111%';
                document.getElementById('img2BtMenuLateralFechar').style.left = '-111%';
                document.getElementById('img3BtMenuLateralFechar').style.left = '-111%';
                document.getElementById('divMenuLateral').style.left = '-111%';
                document.getElementById('divMenuLateral').style.opacity = '0%'; 
            }

            $scope.NGCbtMenuLateralCriarConta = function(){
                document.getElementById('fundoEscudoMenuLateral').style.visibility = 'hidden';
                document.getElementById('btMenuLateralFechar').style.webkitTransitionDelay = '0s';
                document.getElementById('img1BtMenuLateralFechar').style.webkitTransitionDelay = '0s';
                document.getElementById('img2BtMenuLateralFechar').style.webkitTransitionDelay = '0s';
                document.getElementById('img3BtMenuLateralFechar').style.webkitTransitionDelay = '0s';
                document.getElementById('btMenuLateralFechar').style.transitionDelay = '0s';
                document.getElementById('img1BtMenuLateralFechar').style.transitionDelay = '0s';
                document.getElementById('img2BtMenuLateralFechar').style.transitionDelay = '0s';
                document.getElementById('img3BtMenuLateralFechar').style.transitionDelay = '0s';
                document.getElementById('btMenuLateralFechar').style.left = '-111%';
                document.getElementById('img1BtMenuLateralFechar').style.left = '-111%';
                document.getElementById('img2BtMenuLateralFechar').style.left = '-111%';
                document.getElementById('img3BtMenuLateralFechar').style.left = '-111%';
                document.getElementById('divMenuLateral').style.left = '-111%';
                document.getElementById('divMenuLateral').style.opacity = '0%'; 
                setTimeout(function(){
                document.getElementById('divInferiorTelaLogin').style.top = "0%"
                document.getElementById('imgFundo1').style.filter = "blur(3px)"
                document.getElementById('divFundoParte1').style.left = "0%"
                document.getElementById('divFundoParte1').style.opacity = "100%"
                document.getElementById('txDivImgDivBtDivInferior1').style.opacity = "100%"
                document.getElementById('txDivImgDivBtDivInferior1').style.left = "125%"
                document.getElementById('btDivImgDivBtDivInferior1').style.opacity = "100%"
                document.getElementById('btDivImgDivBtDivInferior1').style.left = "90%"
                document.getElementById('btHomeDivImgDivBtDivInferior1').style.opacity = "100%"
                document.getElementById('btHomeDivImgDivBtDivInferior1').style.left = "88%"                
                document.getElementById('divBtDivInferior').style.top = "-2.1%"
            },100);

            }

            $scope.NGCbtMenuLateralFazerLogin = function(){
                document.getElementById('fundoEscudoMenuLateral').style.visibility = 'hidden';
                document.getElementById('btMenuLateralFechar').style.webkitTransitionDelay = '0s';
                document.getElementById('img1BtMenuLateralFechar').style.webkitTransitionDelay = '0s';
                document.getElementById('img2BtMenuLateralFechar').style.webkitTransitionDelay = '0s';
                document.getElementById('img3BtMenuLateralFechar').style.webkitTransitionDelay = '0s';
                document.getElementById('btMenuLateralFechar').style.transitionDelay = '0s';
                document.getElementById('img1BtMenuLateralFechar').style.transitionDelay = '0s';
                document.getElementById('img2BtMenuLateralFechar').style.transitionDelay = '0s';
                document.getElementById('img3BtMenuLateralFechar').style.transitionDelay = '0s';
                document.getElementById('btMenuLateralFechar').style.left = '-111%';
                document.getElementById('img1BtMenuLateralFechar').style.left = '-111%';
                document.getElementById('img2BtMenuLateralFechar').style.left = '-111%';
                document.getElementById('img3BtMenuLateralFechar').style.left = '-111%';
                document.getElementById('divMenuLateral').style.left = '-111%';
                document.getElementById('divMenuLateral').style.opacity = '0%'; 

            }


          //Upload de arquivo
            $scope.NGCadicionarArquivo = function() {
                var f = document.getElementById('leitorDeArquivo').files[0],
                    r = new FileReader();

                r.onloadend = function(e) {
                var data = e.target.result;
                //send your binary data via $http or $resource or do anything else with it
                }

                r.readAsBinaryString(f);
            }


            //click botão div inferior
            $scope.NGCdivBtDivInferior = function() {
                document.getElementById('divInferiorTelaLogin').style.top = "0%"
                document.getElementById('imgFundo1').style.filter = "blur(3px)"
                document.getElementById('divFundoParte1').style.left = "0%"
                document.getElementById('divFundoParte1').style.opacity = "100%"
                document.getElementById('txDivImgDivBtDivInferior1').style.opacity = "100%"
                document.getElementById('txDivImgDivBtDivInferior1').style.left = "125%"
                document.getElementById('btDivImgDivBtDivInferior1').style.opacity = "100%"
                document.getElementById('btDivImgDivBtDivInferior1').style.left = "90%"
                document.getElementById('btHomeDivImgDivBtDivInferior1').style.opacity = "100%"
                document.getElementById('btHomeDivImgDivBtDivInferior1').style.left = "88%"
                document.getElementById('divBtDivInferior').style.top = "-2.1%"
            }

            //*********Keypress*********//
            $scope.NGKmascaraCPF = function(){
                if($scope.NGM_CPFNovoCadastro.length == 3){
                    $scope.NGM_CPFNovoCadastro = $scope.NGM_CPFNovoCadastro + ".";
                }
                if($scope.NGM_CPFNovoCadastro.length == 7){
                    $scope.NGM_CPFNovoCadastro = $scope.NGM_CPFNovoCadastro + ".";
                }
                if($scope.NGM_CPFNovoCadastro.length == 11){
                    $scope.NGM_CPFNovoCadastro = $scope.NGM_CPFNovoCadastro + "-";
                }
            }

        });



        app.controller('meuCrtlInicial', function($scope, $http){
            $scope.postdata = function(NGM_UsuarioEmail){
                var data = {NGM_UsuarioEmail: NGM_UsuarioEmail};
                $http.post('/api/users/post', JSON.stringify(data)).then(function(response){
                    if(response.data)
                        $scope.msg = "Post Data Submitted Successfully!";
                }, function(response){
                    $scope.msg = "Service not Exists";
                    $scope.statusval = response.status;
                    $scope.statustext = response.statusText;
                    $scope.headers = response.headers();
                });
            };
        });

        app.controller('UploadCtrl', ['$scope', function (scope) {
            scope.image = "";
        }]).directive('myUpload', [function () {
            return {
                restrict: 'A',
                link: function (scope, elem, attrs) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        scope.image = e.target.result;
                        scope.$apply();
                    }

                    elem.on('change', function() {
                        reader.readAsDataURL(elem[0].files[0]);
                    });
                }
            };
        }]);

        app.controller('UploadCtrl', ['$scope', function (scope) {
            scope.image = "";
        }]).directive('myUpload2', [function () {
            return {
                restrict: 'A',
                link: function (scope, elem, attrs) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        scope.image2 = e.target.result;
                        scope.$apply();
                    }

                    elem.on('change', function() {
                        reader.readAsDataURL(elem[0].files[0]);
                    });
                }
            };
        }]);


    </script>

</head>

<body data-ng-app="PlusFriends" data-ng-controller="meuCtrlInicial">

<div class="divRolagem" id="divRolagem">
    <div class="popUp" id="popUp">
        <div class="msgPopUp" id="msgPopUp" data-ng-model="NGMtxtMsgPopUp" data-ng-bind="txtMsgPopUp"></div>
        <div class="btPopUp" id="btPopUp" data-ng-click="NGCbtFecharPopUp()">Okay</div>
    </div>

    
    <div class="fundoEscudoMenuLateral" id="fundoEscudoMenuLateral"></div>
    <div class="divMenuLateral" id="divMenuLateral">
        <div class="divSuperiorMenuLateral" id="divSuperiorMenuLateral">
            <div class="imgDivSupMenuLateral" id="imgDivSupMenuLateral"></div>
            <p class="txNomeUsuario" id="txNomeUsuario">Entre ou cadastre-se!</p>
        </div>
        <div class="btMenuLateralFechar" id="btMenuLateralFechar" data-ng-click="NGCbtMenuLateralFechar()"></div>
        <div class="img1BtMenuLateralFechar" id="img1BtMenuLateralFechar"></div>
        <div class="img2BtMenuLateralFechar" id="img2BtMenuLateralFechar"></div>
        <div class="img3BtMenuLateralFechar" id="img3BtMenuLateralFechar"></div>
        <p class="btMenuLateralFazerLogin" id="btMenuLateralFazerLogin" data-ng-click="NGCbtMenuLateralFazerLogin()">Fazer Login</p>
        <p class="btMenuLateralCriarConta" id="btMenuLateralCriarConta" data-ng-click="NGCbtMenuLateralCriarConta()">Criar Conta</p>
        <div class="divLinhaMenuLateral" id="divLinhaMenuLateral"></div>
        <div class="btDeslogarMenuLateral" id="btDeslogarMenuLateral">Sair</div>
        <div class="imgBtDeslogarMenuLateral" id="imgBtDeslogarMenuLateral"></div>
    </div>

    <div class="menuSuperior" id="menuSuperior"></div>
    <div class="txPlusMenuSuperior" id="txPlusMenuSuperior">Plus</div>
    <div class="txFriendsMenuSuperior" id="txFriendsMenuSuperior">Friends</div>
    <div class="btMenuLateral" id="btMenuLateral" data-ng-click="NGCbtMenuLateral()"></div>
    <div class="img1BtMenuLateral" id="img1BtMenuLateral"></div>
    <div class="img2BtMenuLateral" id="img2BtMenuLateral"></div>
    <div class="img3BtMenuLateral" id="img3BtMenuLateral"></div>
    <div>

        <div class="divInicial"  data-ng-hide="NGM_NovoCadastro">
            <img class="imgFundo1" id="imgFundo1" src="Imagem/FundoInicial.jpg"/>
            <img class="imgFundo2" id="imgFundo2" src="Imagem/FundoInicial2.jpg"/>
            <img class="imgFundo3" id="imgFundo3" src="Imagem/FundoInicial1.jpg"/>            
            <div class="divImgLogo1" id="divImgLogo1"></div>
            <div class="divImgLogo2" id="divImgLogo2"></div>
            <div class="divPessoasOnline" id="divPessoasOnline"><p class="txNumDivPessoasOnline" id="txNumDivPessoasOnline" data-ng-model="NGM_txNumDivPessoasOnline">0</p><p class="txDivPessoasOnline" id="txDivPessoasOnline">Pessoas Online</p><p class="txStatusDivPessoasOnline" id="txStatusDivPessoasOnline"></p></div>
            <div class="txFacaAmigos" id="txFacaAmigos">...Faça Amigos</div>
            <div class="txDescubraLugares" id="txDescubraLugares">...Descubra Novos Lugares</div>
            <div class="lupaPt1" id="lupaPt1" data-ng-mouseenter="NGFfocusPopUpTxPlus()" ></div><div class="lupaPt2" id="lupaPt2" data-ng-mouseenter="NGFfocusPopUpTxPlus()" ></div>
            <div class="lupa2Pt1" id="lupa2Pt1" data-ng-mouseenter="NGFfocusPopUpTxPlus2()"></div><div class="lupa2Pt2" id="lupa2Pt2" data-ng-mouseenter="NGFfocusPopUpTxPlus2()"></div>
            <div class="txPlus" id="txPlus"></div>
            <div class="popUpTxPlus" id="popUpTxPlus" data-ng-mouseenter="NGFfocusPopUpTxPlus()" data-ng-mouseleave="NGLPopUpTxPlus()"></div>
            <div class="popUpTxPlus2" id="popUpTxPlus2" data-ng-mouseenter="NGFfocusPopUpTxPlus2()" data-ng-mouseleave="NGLPopUpTxPlus2()"></div>
            <div class="txFriends" id="txFriends">Friends</div>


            <div class="divBtsLogin" id="divBtsLogin">
                <input type="text" data-ng-focus="NGFfocusUsuarioEmail()" data-ng-blur="NGBblurUsuarioEmail()" data-ng-model="NGM_UsuarioEmail" class="tbUsuarioEmail" id="tbUsuarioEmail">
                <input type="password" data-ng-focus="NGFfocusSenhaLogin()" data-ng-blur="NGBblurSenhaLogin()" data-ng-model="NGM_Senha" class="tbSenha" id="tbSenha">
                <div class="btLogin" data-ng-click="NGClogar()">Login</div>
                <input type="button" class="btCadastro" id="btCadastro" data-ng-click="NGCbtMenuLateralCriarConta()" value="Nao possui cadastro?" > 
                <input type='checkbox' data-ng-model="NGM_NovoCadastro" class="cbCadastroNovo"  id="cbCadastro" >
                <img src="https://www.transparentpng.com/thumb/google-logo/google-logo-png-icon-free-download-SUF63j.png" class="divBtGoogleLogin" id="divBtGoogleLogin" alt="google logo png icon free download @transparentpng.com"/>

                <img src="https://www.transparentpng.com/thumb/facebook-logo-png/photo-facebook-logo-png-hd-25.png" class="divBtFacebookLogin" id="divBtFacebookLogin" alt="photo facebook logo png hd @transparentpng.com"/>
            </div>

            
            <div class="divInferiorTelaLogin" id="divInferiorTelaLogin">
                <div class="divBtDivInferior" id="divBtDivInferior" data-ng-mouseenter="NGFfocusDivBtDivInferior()" data-ng-mouseleave="NGLdivBtDivInferior()" data-ng-click="NGCdivBtDivInferior()">
                    <div class="divImgDivBtDivInferior1" id="divImgDivBtDivInferior1"></div>
                    <div class="divImgDivBtDivInferior2" id="divImgDivBtDivInferior2"></div>
                </div>
                <div class="divFundoParte1" id="divFundoParte1">
                    <div class="divImgFundoParte1" id="divImgFundoParte1">
                        <p class="txTituloDivImgDivBtDivInferior1" id="txTituloDivImgDivBtDivInferior1">O que é o PlusFriends?</p>
                        <p class="txDivImgDivBtDivInferior1" id="txDivImgDivBtDivInferior1">O PlusFriends é um site ainda em desenvolvimento com o intuito de você conhecer novas pessoas no local em que você irá viajar ou se mudar!</p>
                        <div class="btDivImgDivBtDivInferior1" id="btDivImgDivBtDivInferior1" data-ng-click="NGCbtDivInferiorAvancar()"><div class="img1BtDivImgDivBtDivInferior1" id="img1BtDivImgDivBtDivInferior1"></div><div class="img1BtDivImgDivBtDivInferior2" id="img1BtDivImgDivBtDivInferior2"></div><div class="img1BtDivImgDivBtDivInferior3" id="img1BtDivImgDivBtDivInferior3"></div></div>
                        <div class="btHomeDivImgDivBtDivInferior1" id="btHomeDivImgDivBtDivInferior1" data-ng-click="NGChomeDivInferior()"></div>
                    </div>
                </div>
                <div class="divFundoParte2" id="divFundoParte2">
                    <div class="divImgFundoParte2" id="divImgFundoParte2"></div>
                    <p class="txTituloDivImgDivBtDivInferior2" id="txTituloDivImgDivBtDivInferior2">Qual o nosso objetivo?</p>
                    <p class="txDivImgDivBtDivInferior2" id="txDivImgDivBtDivInferior2">Nosso objetivo é criar uma rede social, com foco em um canal onde as pessoas possam se conhecer nos lugares que moram, que visitaram ou visitarão, criando um vinculo entre essas pessoas e lugares!</p>
                    <div class="btDivImgDivBtDivInferior1" id="btDivImgDivBtDivInferior1" data-ng-click="NGCbtDivInferiorAvancar()"><div class="img1BtDivImgDivBtDivInferior1" id="img1BtDivImgDivBtDivInferior1"></div><div class="img1BtDivImgDivBtDivInferior2" id="img1BtDivImgDivBtDivInferior2"></div><div class="img1BtDivImgDivBtDivInferior3" id="img1BtDivImgDivBtDivInferior3"></div></div>
                    <div class="btHomeDivImgDivBtDivInferior1" id="btHomeDivImgDivBtDivInferior1" data-ng-click="NGChomeDivInferior()"></div>
            </div>
                <div class="divFundoParte3" id="divFundoParte3">
                    <input type="text" data-ng-focus="NGFfocusUsuarioNovoCadastro()" data-ng-blur="NGBblurUsuarioNovoCadastro()" data-ng-model="NGM_UsuarioNovoCadastro" class="tbUsuarioNovoCadastro" id="tbUsuarioNovoCadastro">
                    <input type="email" data-ng-focus="NGFfocusEmailNovoCadastro()" data-ng-blur="NGBblurEmailNovoCadastro()" data-ng-model="NGM_EmailNovoCadastro" class="tbEmailNovoCadastro" id="tbEmailNovoCadastro">
                    <input type="password" data-ng-focus="NGFfocusSenhaCadastro()" data-ng-blur="NGBblurSenhaCadastro()" data-ng-model="NGM_SenhaNovoCadastro" class="tbSenhaNovoCadastro" id="tbSenhaNovoCadastro" maxlength="16" minlength="8"/>
                    <input type="password" data-ng-focus="NGFfocusConfirmSenhaCadastro()" data-ng-blur="NGBblurConfirmSenhaCadastro()" data-ng-model="NGM_ConfirmSenhaNovoCadastro" class="tbConfirmSenhaNovoCadastro" id="tbConfirmSenhaNovoCadastro">
                    <p class="txSenhaCadastro" id="txSenhaCadastro">Senha :</p>
                    <p class="txConfirmSenhaCadastro" id="txConfirmSenhaCadastro">Confirm. Senha :</p>
                    <p class="txIdadeCadastro" id="txIdadeCadastro">Idade :</p>
                    <p class="txSexoCadastro" id="txSexoCadastro">Sexo :</p>
                    <input type="number" data-ng-blur="NGBblurValidApNum()" data-ng-trim="true" min="16" max="99" maxlength="2" data-ng-model="NGM_IdadeNovoCadastro" class="tbIdadeNovoCadastro" id="tbIdadeNovoCadastro"/>
                    <input type="text" data-ng-model="NGM_SexoNovoCadastro" class="tbSexoNovoCadastro" id="tbSexoNovoCadastro">
                    
                    <input type="text" class="imputMsgPopUp" id="imputMsgPopUp" data-ng-model="txtMsgPopUp">

                    <div class="divSeparadorCadastro" id="divSeparadorCadastro"></div>

                    <div class="divImgFundoParte3" id="divImgFundoParte3"></div>
                    <p class="txDivImgDivBtDivInferior3" id="txDivImgDivBtDivInferior3">Faça parte desse grupo!</p>

                </div>

                <div class="divFundoParte4" id="divFundoParte4">
                    <div class="divSeparadorContinuaCadastro" id="divSeparadorContinuaCadastro"></div>
                    <input type="text" class="tbNomeNovoCadastro" id="tbNomeNovoCadastro" data-ng-model="NGM_NomeNovoCadastro" data-ng-focus="NGFnomeNovoCadastro()" data-ng-blur="NGBnomeNovoCadastro()"/>
                    <input type="text" class="tbSobrenomeNovoCadastro" id="tbSobrenomeNovoCadastro" data-ng-model="NGM_SobrenomeNovoCadastro" data-ng-focus="NGFsobrenomeNovoCadastro()" data-ng-blur="NGBsobrenomeNovoCadastro()"/>
                    <p class="txCPFCadastro" id="txCPFCadastro">CPF:</p>
                    <input type="text" name="cpf" class="tbCPFNovoCadastro" id="tbCPFNovoCadastro" data-ng-model="NGM_CPFNovoCadastro" data-ng-focus="NGFCPFNovoCadastro()" data-ng-blur="NGBCPFNovoCadastro()" data-ng-keypress="NGKmascaraCPF()" maxlength="14" minlength="14" only-numbers/>
                    <p class="txRGFrenteCadastro" id="txRGFrenteCadastro">Frente do RG/ CNH</p>
                    <div class="imgFRGFrente" id="imgFRGFrente"><img ng-if="image" src="{{image}}" alt="" class="imgCarregada"><div class="lupa3Pt1" id="lupa3Pt1" data-ng-mouseenter="NGFfocusPopUpTxPlus()" ></div><div class="lupa3Pt2" id="lupa3Pt2" data-ng-mouseenter="NGFfocusPopUpTxPlus()" ></div></div>
                    <form action="">
                        <input my-upload type="file" id="FRGFrente" name="FRGFrente" class="FRGFrente"/>
                    </form>
                    <p class="txRGTrasCadastro" id="txRGTrasCadastro">Costas do RG/ CNH</p>
                    <div class="imgFRGCosta" id="imgFRGCosta"><img ng-if="image2" src="{{image2}}" alt="" class="imgCarregada2"><div class="lupa4Pt1" id="lupa4Pt1" data-ng-mouseenter="NGFfocusPopUpTxPlus()" ></div><div class="lupa4Pt2" id="lupa4Pt2" data-ng-mouseenter="NGFfocusPopUpTxPlus()" ></div></div>
                    <form action="">
                        <input my-upload2 type="file" id="FRGCosta" name="FRGCosta" class="FRGCosta"/>
                    </form>
                    <div class="divImgFundoParte4" id="divImgFundoParte4"></div>
                    <p class="txDivImgDivBtDivInferior4" id="txDivImgDivBtDivInferior4">Continuação do Cadastro</p>

                </div>
            </div>

        </div>
    </div>
</div>
</body>

</html>